<!DOCTYPE>
<html>
  <head>
    <title>Views Lab</title>
  </head>
  <body>
    <%date = Time.new%>
    <%today = date.strftime("%A, %B %d, %Y")%>
    <p><%= "The date is #{today}"%></p>
  </body>

</html>